keybinds {
    normal {
         bind "Alt t" { NewTab; SwitchToMode "Normal"; }
    }
    shared_except "locked" {
        bind "Ctrl Alt left" { MovePane "left"; }
        bind "Ctrl Alt down" { MovePane "down"; }
        bind "Ctrl Alt up" { MovePane "up"; }
        bind "Ctrl Alt right" { MovePane "right"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

pane_frames false
theme "catppuccin-frappe"
scrollback_editor "/usr/bin/nvim"
